@model IEnumerable<WatchStoreWeb.Models.WatchModel>
@{
    ViewBag.Title = "Index";
}

@foreach (var watch in Model)
{
    <div class=" col-sm-4 js-action-hover">


            <a href="@Url.Action("WatchDetails", "Watch", new
                 {
                     id = watch.Id
                 })" style="display: block; position: relative;">
                <img src="data:image/png;base64,@Convert.ToBase64String(watch.Images.First().ImageData)" style="width: 100%; height: 100%;" />
                <div class="overlay" >
                    <div class="overlayWatchInfo">
                        <h4>
                            <strong>@watch.Name</strong>
                        </h4>
                        <h5>@watch.Brand.Name</h5>
                        <h5>@watch.Price.ToString("c")</h5>
                    </div>
                </div>
                <div class="message" style="display: none;">
                    <h4>
                        <strong>Name : @watch.Name</strong>
                    </h4>
                    <h5>Brand : @watch.Brand.Name</h5>
                    <h5>Colour : @watch.Colour</h5>
                </div>
            </a>

        @*@Html.ActionLink("Watch Details", "WatchDetails", new
            {
                id = watch.Id,
                returnUrl = Request.Url

            })*@
    </div>

}
@*<script type="text/javascript">
    $('.js-action-hover').hover(function () {
        console.log("in");
        var $temp = $(this).find($('.overlay'));
        $temp.css('opacity', 1);
    },
    function () {
        console.log("out");
        var $temp = $(this).find($('.overlay'));
        $temp.css('opacity', 0);
    })

</script>*@

