@model WatchStoreWeb.Models.WatchModel

@{
    ViewBag.Title = "WatchDetails";
}

<br/>
<div class="col-md-8 ">
    <div class="watchImageMain" style=" position: relative;">
        <img src="data:image/png;base64,@Convert.ToBase64String(Model.Images.First().ImageData)" style="width: 100%; height: 100%" />
    </div>

    @foreach (var img in Model.Images)
    {
        <div class="col-sm-3 col-xs-6" >
            <div class="watchImage" style="display: block;position: relative;">
                <img src="data:image/png;base64,@Convert.ToBase64String(img.ImageData)"style="width: 100%;height: 100% " />
            </div>
        </div>
    }
    @*<h4>Description</h4>
        @Model.Description
        <a class="btn" onclick="history.back();">Back</a>*@
</div>
<div class="col-md-4 ">
    <div class="">
        <h3 style="font-weight: 200;">
            @Model.Name
        </h3>
        <h4>@Model.Brand.Name</h4>
        <h4>@Model.Price.ToString("C")</h4>
        <p>Colour : @Model.Colour</p>
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div>
                @Html.HiddenFor(x => x.Id)
                @Html.Hidden("returnUrl",Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="Add to cart" />
            </div>
        }
        <br />
        @*<p>CaseMaterial: @Model.CaseMaterial</p>
            <p>CaseDiameter: @Model.CaseDiameter</p>
            <p>Lens: @Model.Lens</p>
            <p>Strap: @Model.Strap</p>
            <p>Mechanism: @Model.Mechanism</p>
            <p>WaterResistance: @Model.WaterResistance</p>
            <p>Warranty: @Model.Warranty</p>
            <p>Colour: @Model.Colour</p>
            <p>Category: @Model.Category</p>*@



        <div id="watchDetailsBox">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tabs-1">Description</a></li>
                <li><a data-toggle="tab" href="#tabs-2">Details</a></li>
            </ul>
            <div class="tab-content">
                <div id="tabs-1" class="tab-pane fade in active">
                    <p>@Model.Description</p>
                </div>
                <div id="tabs-2" class="tab-pane fade">
                    <p><strong>CaseMaterial:</strong> @Model.CaseMaterial</p>
                    <p><strong>CaseDiameter:</strong> @Model.CaseDiameter</p>
                    <p><strong>Lens:</strong> @Model.Lens</p>
                    <p><strong>Strap:</strong> @Model.Strap</p>
                    <p><strong>Mechanism:</strong> @Model.Mechanism</p>
                    <p><strong>WaterResistance:</strong> @Model.WaterResistance</p>
                    <p><strong>Warranty:</strong> @Model.Warranty</p>
                    <p><strong>Colour:</strong> @Model.Colour</p>
                    <p><strong>Category:</strong> @Model.Category</p>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $('.watchImage').click(function () {
        var $mainImage = $('.watchImageMain').children('img');
        var $clickedImage = $(this).children('img');
        $mainImage.attr('src', $clickedImage.attr('src'));
    });
</script>

